{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "importOrder": [
        "^react$",
        "^react(.+)$",
        "^[^.@](.*)$",
        "^@(?!hvakr|api|assets|components|contexts|hooks|pages|style|utilities|icons)(.*)$",
        "^@hvakr\/common$",
        "^@hvakr\/client$",
        "^@hvakr\/ui$",
        "^@hvakr\/reports$",
        "^\\.\\.\/(.*)$",
        "^\\.\/(?!(.*\\.(?:css|scss)$))(.+)$",
        "^@components(.*)$",
        "^@pages(.*)$",
        "^@contexts(.*)$",
        "^@utilities(.*)$",
        "^@hooks(.*)$",
        "^@api(.*)$",
        "^@icons(.*)$",
        "^@assets(.*)$",
        "^@style(.*)$",
        "^(.*)\\.(css|scss)$"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true,
    "jsxSingleQuote": true,
    "objectWrap": "collapse",
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "printWidth": 80,
    "quoteProps": "as-needed",
    "semi": false,
    "singleAttributePerLine": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false
}
